body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  color: #009aff;
}

hr {
  border-top: 2px solid #009aff;
  margin: 0;
}

h1 {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1f7733;
}

h2 {
  width: 100%;
  color: #009aff; /*#868cff*/
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  width: 100%;
  color: black;
  background-color: #8bb6fd;
  padding: 5px;
  margin: 0;
  text-align: center;
  font-style: italic;
}

h4 {
  margin: 10px 0;
  width: 100%;
}

label {
  width: 100%;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  display: flex;
}

nav ul li a {
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-link, .nav-link:focus {
  color: #009aff;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0;
  background-color: white;
  font-size: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

img {
  width: 30px;
  height: 30px;
}

.nav-active {
  background-color: #009aff;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
}

button {
  margin: 10px auto 10px auto;
  background-color: #009aff;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  width: calc(100% - 40px);
}

button:focus {
  background-color: #007bff;
}

button:disabled {
  background-color: #86cfff;
}

select {
  font-size: 16px;
  color: #1f7733;
  border-radius: 5px;
  padding: 2px;
}

.sign-in-image {
  margin: 5px auto 5px auto;
  color: #009aff;
}

.signin-container {
  width: calc(100% - 40px);
  padding: 20px;
}

.userlist-dropdown {
  display: flex;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

.question-dashboard {
  width: calc(100% - 40px);
  margin: 20px;
  border: 1px solid #009aff;
  justify-content: center;
}

.question-category, .question-category:focus {
  display: flex;
  margin: 0;
  width: 50%;
  padding: 20px 10px;
  background-color: white;
  color: black;
  font-size: 15px;
  border-radius: 0;
  border-bottom: 1px solid #009aff;
  justify-content: center;
}

.active-question-category, .active-question-category:focus {
  display: flex;
  margin: 0;
  width: 50%;
  padding: 20px 10px;
  background-color: #8bb6fd;
  color: black;
  font-size: 15px;
  border-radius: 0;
  border-bottom: 1px solid #009aff;
  justify-content: center;
}

.question {
  margin: 10px;
  border: 2px solid #009aff;
}

.question-body {
  width: 100%;
}

.avatar, .big-avatar {
  width: 25%;
}

.avatar img {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
}

.big-avatar img {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
}

.question-text {
  width: 75%
}

.question-text-result {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0 0 10px;
}

.question-text input[type='radio'] {
  min-width: 15px;
  width: 6%;
  margin: 5px 0;
}

.question-label {
  width: 90%;
  font-size: 16px;
  font-style: italic;
  padding-bottom: 8px;
}

.question-result {
  margin: 10px;
  border: 1.5px solid #009aff;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  border-radius: 10px;
  font-style: italic;
  font-weight: bold;
  font-size: 17px;
  align-items: center;
  text-align: center;
}

.question-result-selected {
  background-color: #8bb6fd;
}

.progressbar-border {
  width: 80%;
  border: 1px solid #009aff;
  background-color: white;
  margin: 0 auto;
}

.progressbar-result {
  border: none;
  background-color: #009aff;
  height: 30px;
}

.select-comment {
  font-size: 14px;
  background-color: #1f7733;
  color: white;
  border-radius: 10px;
  width: 25%;
  min-width: 75px;
  height: 35px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: -7px;
  top: -11px;
}

@media screen and (min-width: 350px) {
  .big-avatar img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 550px) {
  .signin-container, .question-dashboard {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
  }

  .full-question {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}